.bookPageWrapper {
  width: 100%;
}

.bookHeaderWrapper {
  padding: 32px 64px;
  border-bottom: 1px solid #999999;
}

.orderStepsWrapper {
  display: flex;
  padding: 7px 64px;
}

.orderStep:not(:last-child) {
  display: flex;
  margin-right: 16px;
}

.stepLinks {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-right: 16px;
}

.orderStep a:hover {
  color: #0ec261;
}

.findLocationFormWrapper {
  padding: 32px 64px;
  border-top: 1px solid #999999;
}
