@import "../../scss/mixins.scss";

.additionalPageWrapepr {
  padding: 0px 64px;
  border-top: 1px solid #eeeeee;
}

.additionalPageContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
}

.additionalParameters {
  padding-top: 32px;
}
.additionalBlock {
  margin-bottom: 32px;
  span {
    @include RobotoLightText();
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
}

.checkBoxesWrapper {
  display: flex;
}

.checkBoxWrapper {
  margin-bottom: 0;
}

.additionalInputBlock {
  margin-top: 22px;
  div {
    margin-bottom: 0;
  }
}

.dataPickWrapper {
  display: flex;
  flex-direction: column;
}

.dataFieldWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 272px;
  margin-bottom: 16px !important;
}

.dataInputField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #999999;
  width: 248px;
  margin-left: 5px;
  input {
    @include RobotoLightText();
    border: none;
    outline: none;
    padding-left: 8px;
  }
}

.rateCheckBoxesWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  div {
    margin-bottom: 24px;
  }
}

.additionalParametersCheckboxes {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  div input{
    margin: 0;
    margin-right: 8px;
  }
  div:not(:last-child) {
    margin-bottom: 8px;
  }
  
}

@media screen and (max-width: 1024px) {
  .additionalPageWrapepr {
    padding: 0 32px;
  } 
}

@media screen and (max-width: 900px) {
  .additionalPageContainer {
    flex-direction: column;
    align-items: center;
  }
 @media screen and (max-width: 540px) {
   .additionalInputBlock {
     display: flex;
     flex-direction: column;
   }
   .checkBoxesWrapper {
     div {
       margin-bottom: 24px;
     }
   }
 }
}
