@import "../../scss/mixins.scss";

.bookPageWrapper {
  width: 100%;
  overflow: hidden;
}

.bookHeaderWrapper {
  padding: 32px 64px;
  border-bottom: 1px solid #EEEEEE; 
}

.bookHeadContainer {
  margin: 0 auto;
  max-width: 1440px;
}


@media screen and (max-width: 1024px) {
  .bookHeaderWrapper {
    padding: 32px 32px;
  }
}

@media screen and (max-width: 540px) {
  .bookHeaderWrapper {
    padding: 0;
  }
}