@import "../../scss/mixins.scss";

.mainWrapper {
  padding: 32px 70px;
  width: calc(50% - 35px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 161px;
}

.headerLogo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;

  /* Main accent */

  color: #0ec261;
}

.currentCity {
  display: flex;
  align-items: center;
}

.city {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  /* Gray */

  color: #999999;

  margin-left: 7px;
}

.mainTitle {
  display: flex;
  flex-direction: column;
}

.mainLogo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 66px;
  /* identical to box height */

  /* Black */

  color: #121212;
}

.name {
  margin-bottom: 34px;
  color: #0ec261;
}

.mainSlog {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  /* Gray */
  color: #999999;
  margin-bottom: 62px;
}

.mainFooter {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.copyright {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */

  /* Gray */

  color: #999999;
}

.phone {
  @include phone();
}

.phone:hover {
  color: #0ec261;
}

.phone:active {
  color: #0ec261;
}

@media screen and (max-width: 1024px) {
  .mainWrapper {
    width: calc(60% + 10px);
  }
}

@media screen and (max-width: 900px) {
  .mainWrapper {
    width: 100%;
    padding: 35px 35px;
  }
}

@media screen and (max-width: 540px) {
  .mainWrapper {
    width: 100%;
    padding: 0;
  }
  .mainLogo {
    font-size: 32px;
    line-height: 100%;
  }
  .mainSlog {
    font-size: 18px;
    line-height: 21px;
  }

  .headerWrapper {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 34px;
    padding: 16px;
  }

  .mainTitle {
    padding: 0 16px;
  }

  .mainFooter {
    flex-direction: column-reverse;
    align-items: flex-end;
    background-color: #000;
    padding: 16px;
  }
  .copyright {
    color: #eeeeee;
  }
  .phone {
    color: #0ec261;
    margin-bottom: 8px;
  }
  .phone:hover {
    @include grey_light_color();
  }
  .phone:active {
    @include grey_light_color();
  }
}
