@import "../../scss/mixins.scss";

.mainWrapper {
  padding: 32px 64px;
  width: calc(50% + 60px);
  min-height: 100vh;
  @include flexColumn();
}

.mainTitle {
  @include flexColumn();
  margin-top: 161px;
}

.mainLogo {
  @include RobotoText();
  font-weight: bold;
  font-size: 70px;
  line-height: 66px;
  color: #121212;
}

.name {
  margin-bottom: 34px;
  color: #0ec261;
}

.mainSlog {
  @include RobotoLightText();
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #999999;
  margin-bottom: 62px;
}

.mainFooter {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.copyright {
  @include RobotoLightText();
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #999999;
}

.phone {
  @include phone();
}

@media screen and (max-width: 1024px) {
  .mainWrapper {
    padding: 32px 32px;
    width: 57%;
  }
}

@media screen and (max-width: 900px) {
  .mainWrapper {
    width: 100%;
    padding: 32px 32px 38px;
  }
}

@media screen and (max-width: 540px) {
  .mainWrapper {
    padding: 0;
  }
  .mainLogo {
    font-size: 32px;
    line-height: 100%;
  }
  .mainSlog {
    font-size: 18px;
    line-height: 21px;
  }

  .mainTitle {
    padding: 0 16px;

    margin-top: 34px;
  }
  .name {
    margin-bottom: 16px;
  }
  .mainSlog {
    margin-bottom: 32px;
  }
  .mainFooter {
    flex-direction: column-reverse;
    align-items: flex-end;
    background-color: #151B1F;
    padding: 16px;
  }
  .copyright {
    color: #eeeeee;
  }
  .phone {
    color: #0ec261;
    margin-bottom: 8px;
  }
  .phone:hover {
    @include grey_light_color();
  }
  .phone:active {
    @include grey_light_color();
  }
}
