@import "../../scss/mixins.scss";

.orderStepsWrapper {
  padding: 7px 64px;
}

.orderStepsContainer {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}

.orderStep {
  &:not(:last-child) {
    display: flex;
    align-items: center;
  }
  a {
    @include RobotoText();
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    &:active,
    &:focus {
      color: #0ec261;
    }
  }
  a:hover:not(.disabled) {
    color: #0ec261;
  }
  .disabled {
    color: #999999;
    cursor: default;
    pointer-events: none;
  }
  &::after {
    content: "";
    width: 6px;
    height: 8px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("../../Images/rightArrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    margin-top: 3px;
  }
}

@media screen and (max-width: 1024px) {
  .orderStepsWrapper {
    padding: 7px 32px;
  }
}

@media screen and (max-width: 620px) {
  .orderStepsWrapper {
    padding: 7px 16px;
  }

  .orderStep::after {
    display: none;
  }
  .orderStepsContainer {
    flex-direction: column;
    align-items: center;
  }

  .orderStep {
    margin-bottom: 8px;
  }
}
