@import "../../scss/mixins.scss";

.orderStepsWrapper {
  padding: 7px 64px;
}

.orderStep:not(:last-child) {
  display: flex;
}

.nextStepIcon {
  margin-left: 16px;
  margin-right: 16px;
}

.stepLinks {
  @include RobotoText();
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.orderStep button:hover:not([disabled]) {
  color: #0ec261;
}

.orderStep button[disabled] {
  cursor: default;
}

.orderStepsContainer {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}


@media screen and (max-width: 1024px) {
  .orderStepsWrapper {
    padding: 7px 32px;
  }
}

@media screen and (max-width: 620px) {
  .orderStepsWrapper {
    padding: 7px 16px;
  }

  .nextStepIcon {
    display: none;
  }
  .orderStepsContainer {
    flex-direction: column;
    align-items: center;
  }
}