@import "../../scss/mixins.scss";

.burgerMenuWrapper {
  position: absolute;
  background: rgba(21, 27, 31, 0.81);
  z-index: 100;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.burgerMenuContainer {
  @include flexColumn();
  justify-content: center;
  padding-left: 128px;
  width: calc(50% + 66px);
  height: 100%;
  background: #111518;
}

.burgerMenuLinksWrapper {
  max-width: 560px;
}

.burgerMenuLinks {
  @include flexColumn();
  margin-bottom: 23px;
  a {
    @include RobotoText();
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #ffffff;
    margin-bottom: 15px;
  }
}

a:hover {
  color: #0ec261;
}

.socialLinks {
  display: flex;
  a {
    margin-right: 24px;
  }
}

.socialLinks a svg path:nth-child(1):hover {
  fill: #0ec261;
}

@media screen and (max-width: 1024px) {
  .burgerMenuContainer {
    padding-left: 97px;
    width: calc(60% + 55px);
  }
  .burgerMenuLinksWrapper {
    max-width: 485px;
  }
}

@media screen and (max-width: 900px) {
  .burgerMenuContainer {
    width: 100%;
  }
  .burgerMenuLinksWrapper {
    max-width: 579px;
  }
  .burgerMenuLinks a {
    font-size: 28px;
    line-height: 32px;
  }
}

@media screen and (max-width: 540px) {
  .burgerMenuContainer {
    padding-left: 28px;
  }
  .burgerMenuLinksWrapper {
    max-width: 182px;
  }
  .burgerMenuLinks a {
    font-size: 22px;
    line-height: 26px;
  }
}
