.burgerMenuWrapper {
  position: absolute;
  background: rgba(21, 27, 31, 0.81);
  z-index: 100;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.burgerMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% + 35px);
  padding-left: 128px;
  height: 100%;
  background: #111518;
}

.burgerMenuLinks {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
  a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #ffffff;
    margin-bottom: 15px;
  }
}

a:hover {
  color: #0ec261;
}

.socialLinks {
  display: flex;
  a {
    margin-right: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .burgerMenuContainer {
    width: calc(60% + 35px);
  }
}

@media screen and (max-width: 900px) {
  .burgerMenuContainer {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .burgerMenuContainer {
    width: 100%;
    padding-left: 28px;
  }
  .burgerMenuLinks {
    font-size: 22px;
    line-height: 26px;
  }
}
