@import "../../scss/mixins.scss";

.sideBarWrapper {
  width: 64px;
  background: #151b1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 16px 16px;
  position: relative;
}

.menuBtn {
  background: transparent;
  border: none;
  z-index: 100;
  cursor: pointer;
}

.langBtn {
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #0ec261;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.langBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.langBtnWrapper:hover {
  padding: 16px 13px 16px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  .langBtn {
    @include grey_light_color();
  }
}
.langBtnWrapper:active {
  .langBtn {
    @include main_aссent_color();
  }
}

@media screen and (max-width: 900px) {
  .sideBarWrapper {
    width: 86px;
    padding: 29px 27px 22px;
  }
}
@media screen and (max-width: 540px) {
  .sideBarWrapper {
    width: 52px;
    padding: 20px 0px 28px 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 100%;
  }
  .langBtn {
    display: none;
  }

  .langBtnMobile {
    display: block;
  }
  
  .langBtnWrapper {
    display: none;
  }
  .langBtnWrapperMobile {
    display: inherit;
    z-index: 100;
  }

  .menuBtn,
  .openMenuBtn svg path {
    stroke: #000;
  }
}
