.sideBarWrapper {
  width: 64px;
  background: #151b1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 16px 32px;
  position: relative;
}

.menuBtn {
  background: transparent;
  border: none;
  z-index: 100;
  cursor: pointer;
}

.langBtn {
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #0ec261;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
  .sideBarWrapper {
    width: 86px;
    padding: 37px 27px;
  }
}
@media (max-width: 540px) {
  .sideBarWrapper {
    width: 51px;
    padding: 21px 24px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 100%;
  }
  .langBtn {
      display: none;
  }
  .langBtnMobile {
    z-index: 100;
    display: block;
  }

}
