* {
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  /* min-height: 320px; */
}


@font-face {
  font-family: "Roboto";
  src: url(./Fonts/Roboto/Roboto-Medium.ttf)
}

@font-face {
  font-family: "Roboto-Light";
  src: url(./Fonts/Roboto/Roboto-Light.ttf)
}