* {
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* min-height: 320px; */
}

@font-face {
  font-family: "Roboto";
  src: url(./Fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(./Fonts/Roboto/Roboto-Light.ttf);
}

.slider-list,
.slider-slide {
  height: 100% !important;
}
.slider-control-bottomcenter .active button {
  fill: #0ec261 !important;
}


.ymaps-2-1-78-map {
  width: 736px !important;
  height: 352px !important;
}

@media screen and (max-width: 1024px) {
  .slider {
    width: 43% !important;
  }
  .ymaps-2-1-78-map {
    width: 100% !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 900px) {
  .slider {
    display: none !important;
  }
  /* .ymaps-2-1-78-map {
    width: 350px !important;
    height: 200px !important;
  } */
}


@media screen and (max-width: 540px) {

  /* .ymaps-2-1-78-map {
    width: 100% !important;
    height: 100% !important;
  } */
}
