@import "../../scss/mixins.scss";

.orderInfoWrapper {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #EEEEEE;
  padding: 32px 64px 0px 32px;
  @include orderInfoList();
}

.orderInfoBtn {
  @include btn();
  width: 287px;
  margin-top: 32px;
}

.orderInfoBtn:hover {
  @include btnHover();
}

.orderInfoBtn:active {
  @include btnActive();
}

.orderInfoBtn:disabled {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #eeeeee;
  cursor: default;
}

.yourOrderText {
  @include yourOrderText();
}

.addressOrderInfo {
  display: flex;
  flex-direction: column;
  text-align: right;
  @include RobotoLightText();
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
  color: #999999;
}
.addressOrderInfo span:nth-child(1){
    margin-bottom: 5px;
}

.liName {
  @include RobotoLightText();
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}


@media screen and (max-width: 1024px) {
  .orderInfoWrapper {
    padding-right: 32px;
  }
}

@media screen and (max-width: 900px) {
  .orderInfoWrapper {
    border: none;
  }
}

@media screen and (max-width: 540px) {
  .orderInfoWrapper {
    padding: 0;
    padding-bottom: 32px;
    margin-top: 32px;
  }
}