@import "../../scss/mixins.scss";

.orderInfoWrapper {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #eeeeee;
  padding: 32px 0px 0px 32px;
  @include orderInfoList();
  height: 100%;
}

.orderInfoBtn {
  @include btn();
  width: 287px;
  margin-top: 32px;
  &:hover:not(.disabled) {
    @include btnHover();
  }
  &:active:not(.disabled) {
    @include btnActive();
  }
}

.disabled {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #eeeeee;
  cursor: default;
  pointer-events: none;
}

.yourOrderText {
  @include yourOrderText();
}

.addressOrderInfo {
  display: flex;
  flex-direction: column;
  text-align: right;
  @include RobotoLightText();
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  .orderInfoCity {
    margin-bottom: 5px;
  }
}
.attrSpan::before {
  content: attr(span);
  margin-bottom: 5px;
}

.addressDots {
  margin-top: 16px !important;
}

.liPointName {
  margin-top: 20px;
}

.liName {
  @include RobotoLightText();
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

.modelPrice {
  margin-top: 32px;
  color: #121212;
  @include RobotoText();
  font-size: 16px;
  line-height: 16px;
  .price {
    font-weight: 600;
  }
  .priceBorder {
    font-weight: normal;
  }
}

.modelPriceHide {
  display: none;
}


@media screen and (max-width: 900px) {
  .orderInfoWrapper {
    border: none;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 540px) {
  .orderInfoWrapper {
    padding: 32px 32px 32px 32px;
  }
}
