.slider-list,
.slider-slide {
  height: 100% !important;
}

.sliderItem {
  padding: 236px 96px 20px;
}

.sliderImgWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.sliderImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderImgWrapper:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, #000);
  position: absolute;
  left: 0;
  top: 0;
}

.sliderContent {
  position: relative;
  h3 {
    font-family: "Roboto";
    color: #fff;
    font-size: 40px;
    margin: 0 0 8px;
  }
  P {
    font-family: "Roboto-Light";
    color: #eee;
    font-size: 24px;
    margin: 0 0 25px;
    max-width: 485px;
    font-weight: 300;
    line-height: 24px;
  }
  button {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #eee;
    border-radius: 4px;
    width: 164px;
    height: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
}

.buttonContainer {
  height: 100%;
}

.sliderButton {
  background-color: transparent;
  height: 100%;
  border: none;
  cursor: pointer;
  padding: 0 28px;
  transition: 0.3s linear;
}

.slider_bottom {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  ul {
    position: relative;
    top: -10px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .active li {
    fill: #0ec261 !important;
  }
}

.slider_bottom ul li button {
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 1;
  background: transparent;
  border: none;
  fill: #fff;
}

.sliderButton:hover {
  background: rgba(14, 194, 97, 0.2);
}

s.dot {
  height: 100% !important;
}

.green {
  background: linear-gradient(90deg, #13493f, #0c7b1b);
}

.blue {
  background: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
}

.red {
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
}

.purple {
  background: linear-gradient(90deg, #281349 0%, #720c7b 100%);
}

@media (max-width: 1024px) {
  .sliderContent {
    h3 {
      font-size: 32px;
    }
    p {
      font-size: 22px;
    }
  }
  .sliderItem {
    padding: 200px 64px 20px;
  }
  .sliderButton {
    padding: 0 12px;
  }
}
